<html>
	<head>
            <link href="/stuff/style.css" rel="stylesheet" type="text/css"/>
		<body>
            <% include partial/nav.ejs %>
			<h1> This is Personal Contact Page</h1>
            <p>  You want to contact Mr. <%= data.who %>
                    from <%= data.department %> department. <br>
                    His email id is : <%= data.email %> .   
            </p>
        

		</body>
	</head>
</html>