<html>
	<head>
		<link href="/stuff/style.css" rel="stylesheet" type="text/css"/>
		<body>
            <% include partial/nav.ejs %>
			<h1> This is My Html Page</h1>
			<p>  Follow the instructions</p>
		</body>
	</head>
</html>