<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        
        <li>
            <a href="/contacts">Contact</a>
        </li>
        <li>
                <a href=#>Profile</a>
            </li>
    </ul>
</nav>